
@media (max-width:2560px) {
    html{
        font-size: 130.5%;
    }
    .content-div .about-btm-content .content-img img{
        width: 50rem;
    }
    .content-div .about-btm-content .content-text .alltext {
        margin-bottom: 2.6rem;
    }
    .content-div .about-btm-content .content-text .alltext p {
        line-height: 2rem;
    }
}
@media (max-width:1920px) {
    html{
        font-size: 95.5%;
    }
}
@media (max-width:1440px) {
    html{
        font-size: 75.5%;
    }
    .service-div .btm-content .all-div {
        padding: 1rem;
    }
}
@media (max-width:1200px) {
    html{
        font-size: 64.5%;
    }
}
@media (max-width:1024px) {
    html{
        font-size: 57.5%;
    }
}
@media (max-width:768px) {
    html{
        font-size: 48.5%;
    }
    .content-div .about-btm-content .content-img {
        margin-right: 3rem;
    }
    .content-div .about-btm-content .content-img img {
        width: 44rem;
        margin-top: 5rem;
    }
    .service-div .btm-content i {
        margin-bottom: 2rem;
    }
    .service-div .top-content p {
        font-size: 1.9rem;
    }
    .service-div .btm-content .all-div p {
        font-size: 1.8rem;
    }
    .content-div .about-top-content p {
        font-size: 1.9rem;
    }
    .content-div .about-btm-content .content-text .alltext {
        margin-bottom: 1.6rem;
    }
    .content-div .about-btm-content .content-text .alltext p {
        line-height: 2.1rem;
        font-size: 1.8rem;
    }
    .contact-div .top-part p {
        font-size: 1.9rem;
        padding: 0 10.5rem;
    }
    .contact-div .btm-part p {
        font-size: 1.9rem;
    }
}
@media (max-width:480px) {
    html{
        font-size: 44.5%;
    }
    .header-div .logo {
        padding: 1.5rem ;
    }
    .header-div .logo a {
        font-size: 2.2rem;
    }
    .header-div .menu {
        padding: 1.5rem .5rem;
        margin-right: 0rem;
    }
    .header-div .menu ul{
        padding-left: 0rem;
    }


    .header-div .menu ul li a {
        font-size: 1.5rem;
        padding: 1rem 1.0rem;
    }
    .banner-div {
        background-position: right center;
    }
    .service-div .top-content p {
        font-size: 2.1rem;
        padding: 0 5rem;
    }
}
@media (max-width:320px) {
    html{
        font-size: 35.5%;
    }
}